@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <h2>Institutii si adeverinte</h2>
    <hr />
   <div class="container">
       <div class="row mt-5">
           <div class="col md-4">
               <div class="card text-center" style="width: 20rem; height: 18rem">
                   <div class="card-body">
                       <h4 class="card-title "><strong>Medic</strong></h4>
                       <p class="card-text">Aici poti elibera adeverinte de tipul: </p><br /><br />
                       
                           
                           *Adeverinta medicala<br />
                           *Adeverinta apt munca
                       
                       
                       <a href="https://drive.google.com/u/0/uc?id=1lg8v8T4xQefsFEwbZi_VFE1Apx4RCGSa&export=download" class="btn btn-outline-primary mt-4">Creeaza adeverinta</a>
                   </div>
               </div>
           </div>
           <div class="col md-4">
               <div class="card text-center" style="width: 20rem; height: 18rem">
                   <div class="card-body">
                       <h4 class="card-title"><strong>Politie</strong></h4>
                       <p class="card-text">Aici poti elibera adeverinte de tipul: </p><br /><br />
                       *Cazier<br />
                       *Permis Conducere<br />
                       <a href="https://drive.google.com/u/0/uc?id=1lg8v8T4xQefsFEwbZi_VFE1Apx4RCGSa&export=download" class="btn btn-outline-primary mt-4">Creeaza adeverinta</a>
                   </div>
               </div>
           </div>
           <div class="col md-4">
               <div class="card text-center" style="width: 20rem; height: 18rem">
                   <div class="card-body">
                       <h4 class="card-title"><strong>Universitate</strong></h4>
                       <p class="card-text">Aici poti elibera adeverinte de tipul: </p><br /><br />
                       *Adeverinta de student<br />
                       *Legitimatie de student
                       <a href="https://drive.google.com/u/0/uc?id=1lg8v8T4xQefsFEwbZi_VFE1Apx4RCGSa&export=download" class="btn btn-outline-primary mt-4">Creeaza adeverinta</a>
                   </div>
               </div>
           </div>
           <div class="col md-4">
               <div class="card text-center mt-5" style="width: 20rem; height: 18rem">
                   <div class="card-body">
                       <h4 class="card-title"><strong>Angajeaza-te</strong></h4>
                       <p class="card-text">Aici optii o fisa completa a profilului tau, ce poate fi folosita la angajare:</p>
                       *Stare Cazier <br />
                       *Stare Permis <br />
                       *Student <br />
                       *Apt de munca <br />
                       <a href="https://drive.google.com/u/0/uc?id=1lg8v8T4xQefsFEwbZi_VFE1Apx4RCGSa&export=download" class="btn btn-outline-primary mt-4">Obtine Fisa Digitala</a>
                   </div>
               </div>
           </div>
       </div>
       <div col="row mt-5">
           <h2>Lista v-a fi updatata curand</h2>
       </div>
   </div>

